docs/slide/pdf-pptx-to-markdown.yml
app:
  description: PDF を単ページ PDF に分割し、各ページについて「ページ画像(pdf_to_png) + そのページのテキスト(markitdown)」を両方
    Gemini(VLM) に渡してページ単位で書き起こす。PDF のみ受付。使用プラグインは PDF Process / markitdown / gemini。出力は結合した
    Markdown テキスト。
  icon: 📄
  icon_background: '#FFEAD5'
  mode: workflow
  name: PDF → Markdown 変換（画像+テキスト 両入力 / VLM）
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 100
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: start-source-splitter-target
      source: start
      sourceHandle: source
      target: splitter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: iteration
      id: splitter-source-iter-target
      source: splitter
      sourceHandle: source
      target: iter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        sourceType: iteration-start
        targetType: tool
      id: iterstart-source-pageimg-target
      source: iterstart
      sourceHandle: source
      target: pageimg
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        sourceType: tool
        targetType: tool
      id: pageimg-source-pagetext-target
      source: pageimg
      sourceHandle: source
      target: pagetext
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        sourceType: tool
        targetType: llm
      id: pagetext-source-vlm-target
      source: pagetext
      sourceHandle: source
      target: vlm
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: iter-source-joincode-target
      source: iter
      sourceHandle: source
      target: joincode
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: joincode-source-end-target
      source: joincode
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: PDF を1つアップロード
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions:
          - .PDF
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: PDF ファイル
          options: []
          required: true
          type: file
          variable: file
      height: 90
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: PDF を単ページ PDF の配列に分割
        is_team_authorization: true
        params:
          pdf_content: ''
        provider_id: kalochin/pdf_process/pdf_process
        provider_name: kalochin/pdf_process/pdf_process
        provider_type: builtin
        selected: false
        title: PDF分割（単ページ化）
        tool_configurations: {}
        tool_description: Split a PDF into individual single-page PDFs
        tool_label: PDF Splitter
        tool_name: pdf_splitter
        tool_node_version: '2'
        tool_parameters:
          pdf_content:
            type: variable
            value:
            - start
            - file
        type: tool
      height: 116
      id: splitter
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 各単ページPDF（画像+テキスト）を Gemini で書き起こし
        error_handle_mode: terminated
        height: 360
        is_parallel: true
        iterator_input_type: array[file]
        iterator_selector:
        - splitter
        - files
        output_selector:
        - vlm
        - text
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: iterstart
        title: ページごとに反復
        type: iteration
        width: 1040
      height: 360
      id: iter
      position:
        x: 700
        y: 140
      positionAbsolute:
        x: 700
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1040
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: iterstart
      parentId: iter
      position:
        x: 20
        y: 160
      positionAbsolute:
        x: 720
        y: 300
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: この単ページPDFを PNG 画像に変換
        is_team_authorization: true
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        params:
          pdf_content: ''
          zoom: ''
        provider_id: kalochin/pdf_process/pdf_process
        provider_name: kalochin/pdf_process/pdf_process
        provider_type: builtin
        selected: false
        title: ページ画像化
        tool_configurations: {}
        tool_description: Convert PDF page to PNG image
        tool_label: PDF to PNG Converter
        tool_name: pdf_to_png
        tool_node_version: '2'
        tool_parameters:
          pdf_content:
            type: variable
            value:
            - iter
            - item
          zoom:
            type: constant
            value: 3
        type: tool
      height: 116
      id: pageimg
      parentId: iter
      position:
        x: 90
        y: 150
      positionAbsolute:
        x: 790
        y: 290
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 220
      zIndex: 1002
    - data:
        desc: この単ページPDFのテキストを抽出（markitdown）
        is_team_authorization: true
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        params:
          files: ''
        provider_id: yevanchen/markitdown/markitdown
        provider_name: yevanchen/markitdown/markitdown
        provider_type: builtin
        selected: false
        title: ページ文字抽出
        tool_configurations: {}
        tool_description: Extract text/markdown from the single-page PDF
        tool_label: markitdown
        tool_name: markitdown
        tool_node_version: '2'
        tool_parameters:
          files:
            type: variable
            value:
            - iter
            - item
        type: tool
      height: 116
      id: pagetext
      parentId: iter
      position:
        x: 350
        y: 150
      positionAbsolute:
        x: 1050
        y: 290
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 220
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 画像 + 抽出テキストを両方入力して書き起こし
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gemini-3.1-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: sys-transcribe
          role: system
          text: |
            あなたは、与えられた **1 ページ分の画像** と、そのページから機械的に抽出された **参考テキスト** をもとに、
            そのページを **漏れなく原文のまま** Markdown に書き起こす OCR/VLM 転写エンジンです。
            常に「ドキュメントの 1 ページ」を対象とし、複数ページをまたぐ推論はせず、目の前の 1 枚に集中してください。

            ## 入力の使い分け（重要）
            - **画像**：レイアウト・表・グラフ・図・吹き出し・位置関係・視覚要素の「真実」。構造と配置は必ず画像を優先する。
            - **参考テキスト**：文字（特に小さく潰れやすい文字・数値・記号）の **正確性確認** に使う。ただし順序・レイアウトが崩れていたり、図中の文字が欠けていることがある（スキャンPDFでは空のこともある）ので **鵜呑みにしない**。画像に見えるのにテキストに無いものは画像から補い、テキストにあるのに画像で確認できないものは画像を正とする。

            以下の手順を必ず順番に実行してください。

            # Step 1 — 構造把握 (頭の中で、出力不要)
            画像を上から下、左から右に走査し、以下を数える: 表の数/各表の行数・列数、グラフ・チャートの数と種類、注釈・吹き出し・赤枠・矢印の数、ヘッダー/サブタイトル/フッターの有無(薄い muted テキスト含む)。

            # Step 2 — 要素ごとに書き起こし
            1. **タイトル + サブタイトル + メタ情報**（直下の小さい muted テキスト: 実施日/バージョン/担当者/チケット番号/環境名等も必ず）。
            2. **画面・モックアップ本体**（上→下・左→右。右上アイコン、通知バッジ数字、タブの活性状態、ドロップダウン開閉、ボタンラベル等の小要素も省略しない）。
            3. **表**：タイトル/列見出し/全行を Markdown テーブルで。**1 行も省略しない**。小さくても即「判読不能」とせず、参考テキストと画像を突き合わせて確定する。どうしても不明な時のみ `[判読不能]`。
            4. **グラフ・チャート**：タイトル、X/Y 軸ラベル、凡例、**各データポイントの値を全て**（棒12本なら12個）。
            5. **コード片**：ファイル名/言語、import、デコレータ、関数シグネチャ(型注釈含む)、本体、try/except の例外型まで全行。fenced code block で囲む。
            6. **吹き出し・赤枠・コメント注釈**：番号(例 C1,R01,A01)+本文を verbatim、さらに **「→ ◯◯ を指している」** と対象を併記（矢印の先 or 最も近い要素）。略記(「中央?」「5→4」「#f5f5f5」等)もそのまま。
            7. **フロー図/プロセス図/組織図など「矢印で繋がった構造」**：**表に潰さず Mermaid コードブロックで表現する**（``` で囲み、`flowchart TB`(縦) か `flowchart LR`(横) か組織図は `graph TD`）。
               - 各ノードのラベルは画像どおり正確に（例 `A2["RFP（提案依頼書）の作成"]`）。矢印の向き・順序・分岐は `-->` で、実線=親子/順次は `-->`、点線=兼務/参照は `-.->` で区別。
               - フェーズ・列・部門などのまとまりは `subgraph 名称 ... end` で再現する（例：3 フェーズなら subgraph を3つ）。中央に独立配置されたノード（例「開発実施」）も**必ず1ノードとして**入れる（吹き出し扱いにしない）。
               - **図に付いた【参照】等の吹き出し/注釈は、Mermaid の図の中に必ず含める**：注釈ごとにノート風ノードを作り（例 `R1["【参照】開発RFP見本"]`）、指している対象ノードへ点線で繋ぐ（例 `A2 -.->|参照| R1`）。コードブロック末尾に `classDef note fill:#eef,stroke:#88a,stroke-dasharray:3 3;` と `class R1,R2,... note;` を付けて注釈であることを明示する。さらに図の**下にも**同じ吹き出しを箇条書きで残す（番号 + 本文 + 指す対象ノード）。
               - 組織図はノードの全属性(氏名/役職/入社年/配下人数/部門色帯ラベル等)も各ノードラベルに保持する。
            8. **フッター**：最下部の小さい muted テキスト(チーム名/機密区分/文書バージョン等)も必ず。

            # Step 3 — 表記ルール
            - 時刻は HH:MM（`60:25` を `60.25` 等にしない）。金額は元のまま(`¥4,200`/`164M`/`365 MJPY`、カンマ・通貨記号保持)。割合は `%` と符号(+/−)維持。状態記号(○/△/×/✓/▲)そのまま。カラーコード(`#3b6db8`)やピクセル値(`16px`/`16→24`)もそのまま。部門色帯は色+ラベル併記(例 `青 (Tech)`)。

            # Step 4 — 厳守事項
            - 要約/解釈/言い換え禁止。書いてあるままに書く。推測でドキュメントに無い情報を足さない。1 行/1 セル/1 注釈も省略しない。
            - **目次・索引など「項目 ……… ページ番号」が長い点線(・・・)/リーダー線で繋がっている箇所**：点線そのものは**再現しない**（`項目名 … ページ番号` 程度に簡略化、または `| 項目名 | ページ番号 |` のテーブルでも可）。ただし**項目は1つも省略せず、最初から最後まで全て**書き起こすこと。長い `・` の羅列を延々と出力してはいけない（途中で打ち切らない）。
            - **途中で出力を止めない**：参考テキストに項目が多数あるなら、その件数ぶん最後まで出し切る。
            - **ページ見出し(## ページ N)は出力しない**（システムが自動付与）。前置き・後書きも禁止。Markdown 本文のみを返す。

            # Step 5 — 自己確認（出力末尾に必ず）
            `---` 区切りの後、このページの件数照合を 1 行ずつ:
            - 表: 検出 X 行 / 書き起こし Y 行 (X = Y)
            - 注釈・吹き出し: 検出 X 個 / 書き起こし Y 個
            - グラフ データポイント: 検出 X 個 / 書き起こし Y 個
            - ノード: 検出 X / 書き起こし Y
            X ≠ Y があれば再走査して補完してから返答する。
        - id: usr-page
          role: user
          text: |
            このページの「参考テキスト（機械抽出・順序やレイアウトは崩れている可能性あり / スキャンPDFでは空のこともある）」:
            ----------------
            {{#pagetext.text#}}
            ----------------
            上記を文字の正確性確認に使いつつ、添付のページ画像を Step1〜5 に従って書き起こしてください。
        selected: false
        title: 視覚転写 (Gemini)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - pageimg
            - files
          enabled: true
      height: 120
      id: vlm
      parentId: iter
      position:
        x: 620
        y: 150
      positionAbsolute:
        x: 1320
        y: 290
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 300
      zIndex: 1002
    - data:
        code: |
          def main(pages: list) -> dict:
              parts = []
              for i, md in enumerate(pages, start=1):
                  text = (md or "").strip()
                  parts.append(f"## ページ {i}\n\n{text}")
              return {
                  "markdown": "\n\n---\n\n".join(parts),
                  "page_count": len(parts),
              }
        code_language: python3
        desc: 各ページの Markdown をページ番号付きで結合
        outputs:
          markdown:
            children: null
            type: string
          page_count:
            children: null
            type: number
        selected: false
        title: 結合（ページ番号付与）
        type: code
        variables:
        - value_selector:
          - iter
          - output
          variable: pages
      height: 54
      id: joincode
      position:
        x: 1860
        y: 300
      positionAbsolute:
        x: 1860
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 結合した Markdown を出力
        outputs:
        - value_selector:
          - joincode
          - markdown
          value_type: string
          variable: markdown
        selected: false
        title: 終了
        type: end
      height: 90
      id: end
      position:
        x: 2160
        y: 300
      positionAbsolute:
        x: 2160
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6
