docs/slide/pdf-pptx-to-markdown.yml
app:
  description: "PDFを画像配列(PDF-to-Images)化し、markitdown全文を\fでページ分割、各ページ画像+テキストをgpt-5.4-miniに渡して書き起こし→結合→.md出力。pdf_splitter不要。"
  icon: 🆕
  icon_background: '#E0F2FE'
  mode: workflow
  name: PDF→Markdown 変換（VLM / gpt-5.4-mini）
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 100
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: e1
      source: start
      sourceHandle: source
      target: pdf2img
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: e2
      source: pdf2img
      sourceHandle: source
      target: mkit
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: iteration
      id: e3
      source: mkit
      sourceHandle: source
      target: iter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        sourceType: iteration-start
        targetType: code
      id: e5
      source: iterstart
      sourceHandle: source
      target: picktext
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        sourceType: code
        targetType: llm
      id: e6
      source: picktext
      sourceHandle: source
      target: vlm
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: e7
      source: iter
      sourceHandle: source
      target: joincode
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: e8
      source: joincode
      sourceHandle: source
      target: mdfile
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: e9
      source: mdfile
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: PDF を1つアップロード
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions:
          - .PDF
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: PDF ファイル
          options: []
          required: true
          type: file
          variable: file
      height: 90
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: PDF全体を一括でPNG配列に変換 (PDF-to-Images)
        is_team_authorization: true
        params:
          pdf_files: ''
          dpi: ''
          image_format: ''
        provider_id: atoy0m0/pdf-to-images/pdf-to-images
        provider_name: atoy0m0/pdf-to-images/pdf-to-images
        provider_type: builtin
        selected: false
        title: PDF→画像配列
        tool_configurations:
          image_format:
            type: constant
            value: PNG
        tool_description: Convert PDF pages to images (PyMuPDF)
        tool_label: PDF-to-Images
        tool_name: pdf-to-images
        tool_node_version: '2'
        tool_parameters:
          pdf_files:
            type: variable
            value:
            - start
            - file
          dpi:
            type: constant
            value: 150
        type: tool
      height: 116
      id: pdf2img
      position:
        x: 360
        y: 300
      positionAbsolute:
        x: 360
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: PDF全体のテキストを抽出（\f改ページ込み）
        is_team_authorization: true
        params:
          files: ''
        provider_id: yevanchen/markitdown/markitdown
        provider_name: yevanchen/markitdown/markitdown
        provider_type: builtin
        selected: false
        title: 全文テキスト抽出
        tool_configurations: {}
        tool_description: Convert file to Markdown text
        tool_label: markitdown
        tool_name: markitdown
        tool_node_version: '2'
        tool_parameters:
          files:
            type: variable
            value:
            - start
            - file
        type: tool
      height: 116
      id: mkit
      position:
        x: 640
        y: 300
      positionAbsolute:
        x: 640
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 画像配列を反復（テキストは添字で対応）
        error_handle_mode: terminated
        height: 250
        is_parallel: true
        iterator_input_type: array[file]
        iterator_selector:
        - pdf2img
        - files
        output_selector:
        - vlm
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: iterstart
        title: ページごとに反復
        type: iteration
        width: 560
      height: 250
      id: iter
      position:
        x: 1200
        y: 160
      positionAbsolute:
        x: 1200
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 560
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: iterstart
      parentId: iter
      position:
        x: 20
        y: 100
      positionAbsolute:
        x: 1220
        y: 260
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "def main(whole_text, index) -> dict:\n    s = whole_text or \"\"\n\
          \    pages = s.split(\"\\f\")\n    i = int(index or 0)\n    return {\"page_text\"\
          : (pages[i].strip() if 0 <= i < len(pages) else \"\")}\n"
        code_language: python3
        desc: 全文を\fで分割し index ページ目を取り出す（配列を作らない＝30制限回避）
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        outputs:
          page_text:
            children: null
            type: string
        selected: false
        title: ページ文字取り出し
        type: code
        variables:
        - value_selector:
          - mkit
          - text
          variable: whole_text
        - value_selector:
          - iter
          - index
          variable: index
      height: 54
      id: picktext
      parentId: iter
      position:
        x: 100
        y: 100
      positionAbsolute:
        x: 1300
        y: 260
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 200
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 画像 + 該当ページテキストで書き起こし
        isInIteration: true
        isInLoop: false
        iteration_id: iter
        model:
          provider: langgenius/openai/openai
          name: gpt-5.4-mini
          mode: chat
          completion_params: {}
        prompt_template:
        - id: sys
          role: system
          text: 'あなたは、与えられた **1 ページ分の画像**（および補助の参考テキスト）を、元のドキュメントの情報量を一切落とさず、同じ情報量のまま
            Markdown へ「変換」する変換エンジンです。

            単なる文字抽出ではなく、本文・表・グラフ・図・フロー図・吹き出し・レイアウト・視覚的構造まで、元ページに在る情報をすべて適切な Markdown
            表現（本文/表/Mermaid/箇条書き/注釈）で忠実に再現してください。

            - 画像が主：レイアウト・表・図・吹き出し・視覚要素は画像を正とする。

            - 参考テキストは補助：小さい文字・数値の確認用ヒント。これに引きずられて文字だけ並べるのは禁止。スキャンPDFでは空のこともある。

            # 要素ごとに書き起こし（タイトル/メタ, 本体, 表は全行をMarkdownテーブル, グラフは全データ点, コードは全行, 吹き出しは番号+本文+「→対象」,
            組織図, フッターも）。

            # フロー図/プロセス図/組織図は Mermaid コードブロックで（flowchart TB/LR）。矢印の向き/分岐、subgraphでまとまり、中央ノードも1ノードとして入れる。【参照】等の吹き出しは
            Mermaid 内にノート風ノード(R1等)を作り対象へ点線 `-.->|参照|` で繋ぎ、末尾に classDef note と class
            指定。図の下にも箇条書きで残す。

            # 目次/索引の長い点線(・・・)リーダーは再現せず簡略化、ただし項目は1つも省略せず最後まで（途中で止めない）。

            # 厳守: 要約/言い換え禁止、推測で足さない、1行も省略しない。ページ見出し(## ページN)は出力しない（システムが付与）。前置き後書き禁止、Markdown本文のみ。出力前に表行数/注釈数/データ点数を自己確認し漏れを補う（照合結果は出力しない）。

            '
        - id: usr
          role: user
          text: 'このページの参考テキスト（機械抽出・順序やレイアウトは崩れている可能性あり / スキャンPDFでは空のこともある）:

            ----------------

            {{#picktext.page_text#}}

            ----------------

            上記を文字の正確性確認に使いつつ、添付のページ画像を書き起こしてください。

            '
        selected: false
        title: 視覚転写 (Gemini)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - iter
            - item
          enabled: true
      height: 120
      id: vlm
      parentId: iter
      position:
        x: 320
        y: 100
      positionAbsolute:
        x: 1520
        y: 260
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 220
      zIndex: 1002
    - data:
        code: "def main(pages: list) -> dict:\n    parts = []\n    for i, md in enumerate(pages,\
          \ start=1):\n        text = (md or \"\").strip()\n        parts.append(f\"\
          ## ページ {i}\\n\\n{text}\")\n    body = \"\\n\\n---\\n\\n\".join(parts)\n\
          \    header = \"> ※本MarkdownはPDFから自動変換したものです。図表・複雑なレイアウトは精度が十分でなく誤りを含む場合があります。\\\
          n\\n\"\n    return {\"markdown\": header + body, \"page_count\": len(parts)}\n"
        code_language: python3
        desc: ページ番号付き結合 + 先頭に注意書き
        outputs:
          markdown:
            children: null
            type: string
          page_count:
            children: null
            type: number
        selected: false
        title: 結合(注意書き+番号)
        type: code
        variables:
        - value_selector:
          - iter
          - output
          variable: pages
      height: 54
      id: joincode
      position:
        x: 1840
        y: 300
      positionAbsolute:
        x: 1840
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: .md ファイル生成
        is_team_authorization: true
        params:
          md_text: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: .md 出力
        tool_configurations: {}
        tool_description: Save Markdown text as .md file
        tool_label: Markdown ⮕ MD
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#joincode.markdown#}}'
        type: tool
      height: 116
      id: mdfile
      position:
        x: 2120
        y: 300
      positionAbsolute:
        x: 2120
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 出力
        outputs:
        - value_selector:
          - joincode
          - markdown
          value_type: string
          variable: markdown
        - value_selector:
          - mdfile
          - files
          value_type: array[file]
          variable: md_file
        selected: false
        title: 終了
        type: end
      height: 120
      id: end
      position:
        x: 2400
        y: 300
      positionAbsolute:
        x: 2400
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6
